{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-3">
<h3>filtrer </h3>
{{form(form)}}
</div>
<div class="col-md-9">
<h3>Nos produits</h3>
<div class="row product-container ">
{% for product in products %}
  <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="product-item text-center">
  <div class="card mt-2" style="width: 18rem; height: auto">
  <a href="{{path('theproduct', {'slug' : product.slug} ) }}"><img class=" img card-img-top img-responsive img-fluid" style="width:18rem; height:13rem" src="/uploads/{{ product.illustration}}" alt="image illustration du produit"></a>
  <div class="card-body">
  <a href="{{path('theproduct', {'slug' : product.slug} ) }}" class="btn btn-primary">+Details</a>
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{ product.subtitle}}</p>
    <p><span class="product-price">{{ (product.price /100)|number_format(2) }} €</span></p>
    <div class="product-bouton">
    <a href="{{path('add_to_cart', {'id' : product.id} ) }}" class="btn btn-primary">Ajouter dans le panier</a>
    </div>
  </div>
  </div>
</div>
 </div>
{% endfor %}
</div></div>
</div>


{% endblock %}
